<footer class="site-footer">
    <div class="site-copyright">
        <p>© <span>
            <% var d=new Date()%>
            <%=d.getFullYear()%>
        </span> Shoaib Shafi</p>
    </div>
</footer>