<%- include("partials/header") %>

    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">ABOUT</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/about.jpg);"></div>
    </div>

    <div id="about">
        <div class="about-text">
            <h1> Shoaib Shafi </h1><br>
            <p> Shoaib Shafi is a writer and independent journalist based out of Kashmir. 
                He writes on culture, social and political issues in India. His work has appeared, 
                among other publications, in The Guardian, Foreign Policy, National Geographic Traveller, The Independent, Verso Books, Mint Lounge, The South China Morning Post, Przekroj Magazine and The Drift Magazine.</p>
        </div>
    </div>
    


<%- include("partials/footer") %>
