<%- include("partials/header") %>

    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">ABOUT</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/about.jpg);"></div>
    </div>

    


<%- include("partials/footer") %>
