<%- include("partials/header") %>

    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">ARTICLES & ESSAYS</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/eaasy.jpg);"></div>
    </div>


<%- include("partials/footer") %>
