<%- include("partials/header") %>

    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">ARTICLES & ESSAYS</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/eaasy.jpg);"></div>
    </div>

    <main class="site-main" role="main">
        <div class="page-content">
            <div class="post-content">
                <p style="padding-left: 30px;">
                    <strong style="font-size: 24px; font-family: 'Roboto Mono'; font-weight: 700;">Published Articles</strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.scmp.com/week-asia/politics/article/3098300/unjustly-jailed-india-mohammed-ali-bhats-ordeal-highlights" target="_blank">
                            Unjustly jailed in India, Mohammed Ali Bhat’s ordeal highlights plight of Kashmiris
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.scmp.com/lifestyle/fashion-beauty/article/3093634/your-handmade-pashmina-shawl-could-be-made-machine-one" target="_blank">
                            Your ‘handmade’ pashmina shawl could be made by machine – one that is costing artisans their livelihoods
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.scmp.com/lifestyle/family-relationships/article/3040225/indian-sex-worker-new-delhis-main-red-light-district" target="_blank">
                            Indian sex worker in GB Road, New Delhi’s main red light district, tells her story of pain and loss
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://przekroj.pl/en/science/earth-alienation-shoaib-shafi" target="_blank">
                            Earth Alienation - Hannah Arendt on Outer Space
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.versobooks.com/blogs/4818-kashmir-a-year-under-lockdown" target="_blank">
                            Kashmir: A Year Under Lockdown
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.independent.co.uk/voices/kashmir-crisis-india-army-blackout-curfew-modi-a9082446.html" target="_blank">
                            I left my family in Kashmir 24 days ago and I still have no idea whether they’re dead or alive
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.independent.co.uk/voices/kashmir-india-internet-shutdown-government-a9281266.html" target="_blank">
                            I’m living through the longest internet shutdown in history – here’s what life’s like for Kashmiris like me
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.livemint.com/mint-lounge/features/the-mystic-bone-setter-of-srinagar-11599807768142.html" target="_blank">
                            The mystic bone-setter of Srinagar
                        </a>
                    </strong>
                </p>
                <p style="padding-left: 30px;">
                    <strong>
                        <a href="https://www.thedriftmag.com/dispatches-schools/" target="_blank">
                            “Stratified and Fragmented”​ | Teaching and Learning in a Pandemic
                        </a>
                    </strong>
                </p>
            </div>
        </div>
    </main>

    <div class="container" style="margin-top: 5%;">
        <div class="row news-paper-row">
            
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/SCMP_logo_03.png" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/verso.jpg" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/przekroj.jpg" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://images.livemint.com/static/livemint-logo-v2.svg" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/Independent.png" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://www.thedriftmag.com/wp-content/themes/drift/assets/images/drift_logo_large_1x.png" alt="">
            </div>
            
        </div>
    </div>

<%- include("partials/footer") %>
