<%- include("partials/header") %>


    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">WRITER & JOURNALIST</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/home-img.jpg);"></div>
    </div>

    <div class="container">
        <div class="row news-paper-row">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <img src="https://i2.wp.com/cindylamothe.com/wp-content/uploads/2020/09/Exciting-The-New-York-Times-Logo-36-In-Best-Logos-with-The-New-York-Times-Logo.png?w=568" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <img src="https://i2.wp.com/cindylamothe.com/wp-content/uploads/2016/09/The_Atlantic_magazine_logo.svg_-1.png?w=500" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <img src="https://i2.wp.com/cindylamothe.com/wp-content/uploads/2020/09/BBC-logo.png?resize=768%2C576" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <img src="https://i1.wp.com/cindylamothe.com/wp-content/uploads/2016/09/new-york-magazine-logo.jpg?resize=768%2C210" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <img src="https://i2.wp.com/cindylamothe.com/wp-content/uploads/2016/09/3e19807e-2862-4b17-aad7-e2479eff650e-e1492971696362.jpg?w=355" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <img src="https://i2.wp.com/cindylamothe.com/wp-content/uploads/2016/09/the-washington-post.jpg?resize=768%2C566" alt="">
            </div>
        </div>
    </div>

    

<%- include("partials/footer") %>
