<%- include("partials/header") %>


    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">WRITER & JOURNALIST</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/home-img.jpg);"></div>
    </div>

    <div class="container">
        <div class="row news-paper-row">
            
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/SCMP_logo_03.png" alt="">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/verso.jpg" alt="">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/przekroj.jpg" alt="">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://images.livemint.com/static/livemint-logo-v2.svg" alt="">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/Independent.png" alt="">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://www.thedriftmag.com/wp-content/themes/drift/assets/images/drift_logo_large_1x.png" alt="">
            </div>
            
        </div>
    </div>

    

<%- include("partials/footer") %>
