<%- include("partials/header") %>


    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title" style="font-size: 18px; letter-spacing: 6px;">WRITER & <br>INDEPENDENT JOURNALIST</h1>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/home-img.jpg);"></div>
    </div>

    <div class="container">
        <div class="row news-paper-row">
            
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/SCMP_logo_03.png" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/verso.jpg" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="/imgs/przekroj.jpg" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://images.livemint.com/static/livemint-logo-v2.svg" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://www.logolynx.com/images/logolynx/74/74d47e78e17e3bb302a317c0f9ff8c4c.png" alt="">
            </div>
    
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://www.thedriftmag.com/wp-content/themes/drift/assets/images/drift_logo_large_1x.png" alt="">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img src="https://cdn.realscreen.com/wp/wp-content/uploads/2019/06/National-Geographic-logo.jpg?39a80e" alt="">
            </div>
            
        </div>
    </div>

    

<%- include("partials/footer") %>
