<%- include("partials/header") %>


    <div class="page-header">
        <div class="page-header-content">
            <h1 class="page-header-title">Thank You</h1>
            <p class="page-header-text">Your message has been delivered</p>
        </div>
        <div class="page-header-image" style="background-image: url(/imgs/thank2.jpg);"></div>
    </div>    

<%- include("partials/footer") %>
