body, html {
    height: 100%;
}

.navbar{
    position: relative;
    margin: 0 auto;
    padding: 22px 0;
    
}

.post-content a{
    font-family: 'Comfortaa';
}

.navbar-light .navbar-brand:hover{
    color: #272B2F;
    
}

.navbar-light .navbar-brand{
    color: #272B2F;
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 9px;
    text-transform: uppercase;
    font-family: 'Lato', 'sans-serif';
    line-height: 20px;
    padding-left: 18%;
    top: -10px;
}


.navbar-light .navbar-nav .nav-link{
    position: relative;
    color: #272B2F;
    width: 100%;
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Lato', 'sans-serif';
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-toggler{
    margin-right: 3%;
}

.page-header {
    position: relative;
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

.page-header-content {
    z-index: 2;
    position: relative;
    top: 50%;
    width: 470px;
    margin: 0 auto;
    padding: 80px 40px;
    background-color: rgba(255, 255, 255, .96);
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-header-content::after {
    z-index: -1;
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% - -18px);
    height: calc(100% - -18px);
    border: 1px solid #fff;
    content: "";
}

.page-header-content::selection {
    background-color: #272B2F;
    color: #fff;
}

.page-header-title {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 9px;
    text-transform: uppercase;
    font-family: 'Lato', 'sans-serif';   
}

.page-header-text{
    margin-bottom: 0;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Lato', 'sans-serif';
    padding-top: 8px; 
}

.page-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.news-paper-row img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.site-footer{
    width: 940px;
    margin: 45px auto 0 auto;
    padding: 25px 0;
    text-align: center;
}

.site-footer::after{
    content: "";
    display: table;
    clear: both;
}

.site-copyright{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.site-main{
    width: 940px;
    margin: 50px auto 0 auto;
}

.site-main::after{
    content: "";
    display: table;
    clear: both;
}

.page-content{
    width: 640px;
    float: left;
    width: 100%;
}

.page-content a{
    text-decoration: none;
    color: #b09a68;
}

.page-content a:hover{
    color: #272B2F;
}

.contact-form-title{
    font-size: 22px;
    color: #272B2F;
    font-family: 'Lato', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.about-text{
    padding: 12px 5%; 
    padding-left: 10%;
}

.w3-row{
    padding: 20px 0;
}

@media only screen and (max-width: 980px){
    .page-header {
        height: 400px;
    }

    .page-header-content {
        width: 420px;
        padding: 60px 20px;
    }
    .site-footer, .site-main, .page-content{
        width: 728px;
    }
    
}


@media only screen and (max-width: 767px){
    .page-header {
        height: 300px;
    }
    .site-footer, .site-main, .page-content{
        width: 440px;
    }
    .navbar-light .navbar-nav .nav-link{
        padding-left: 3%;
    }
    .navbar-light .navbar-brand{
        padding-left: 3%;
    }
}


@media only screen and (max-width: 479px){
    .page-header-content {
        width: 280px;
        padding: 40px 20px;
    }
    .page-header-title, .post-title {
        font-size: 19px;
        letter-spacing: 6px;
    }
    .site-footer{
        width: 280px;
    }
    .site-main, .page-content{
        width: 280px;
    }
    .contact-form-title{
        font-size: 16px;
    }
    .navbar-light .navbar-nav .nav-link{
        padding-left: 0.7rem;
    }
    .about-text{
        padding: 12px 0; 
        
    }
    .about-text p{
        padding-left: 5%;
        padding-right: 5%;    
    }
    .navbar-light .navbar-brand{
        font-size: 17px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px){
    .col-xs-6{
        max-width: 50%;
    }
}




